todo: protocol messages test suite

This will include the parse and handle of messages defined in Section 3.7 of RFC 2812